<app-nav></app-nav>
<div class="tableWrapper">
    <h2>Liste des secrétaires</h2>
  <table class="mainTable">
    <tr>
      <th>ID</th>
      <th>ID utilisateur</th>
      <th>Nom</th>
      <th>Prénom</th>
      <th>Telephone</th>
      <th>Email</th>
      <th *ngIf="this.authService.connectedRole === 'admin'">Actions</th>
    </tr>
    @for (s of secretaires; track s){
      <tr>
        <td>{{s.id}}</td>
        <td>{{s.user_id}}</td>
        <td>{{s.nom}}</td>
        <td>{{s.prenom}}</td>
        <td>{{s.tel}}</td>
        <td>{{s.email}}</td>
        <td *ngIf="this.authService.connectedRole === 'admin'  || this.authService.connectedRole === 'secretaire'">
          <button class="btn btn-info" (click)="editSecretaire(s)">Modifier</button>
          <button *ngIf="this.authService.connectedRole === 'admin'" class="btn btn-danger" (click)="deleteSecretaireUserById(s.user_id)">Delete</button>
        </td>
      </tr>
    }
  </table>
</div>

